/*------------------------------------------------------------
comp-line
------------------------------------------------------------*/

/*comp-line
------------------------------------------------------------*/
.comp-line {
	background: #ddd;
	height: 1px;
	width: 100%;
}